<!DOCTYPE html>
<html xmlns:th="https://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>rottenMovies</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<header th:replace="header :: html_header"></header>
<body>
<div th:if="${redirect}">
    <script th:inline="javascript">
            window.location.assign([[${redirect}]]);
    </script>
</div>
    <div class="album py-5 bg-light">
        <div class="container">
            <form>
                <div class = "row g-3">
                    <!--div class="column form-floating mb-3">
                        <input class="form-control" type="text" name="title" id="title" placeholder="title" ${title}">
                        <label for="title">Title</label>
                    </div>
                    <div class = "column">
                        <div class="column form-floating mb-3">
                            <input class="form-control" type="number" name="title" id="startYear" placeholder="startYear" ${startYear}">
                            <label for="startYear">Start Year Range</label>
                        </div>
                        <div class=""column mb-3>
                            <input class="form-control" type="number" name="title" id="endYear" placeholder="endYear" ${endYear}">
                            <label for="endYear">End Year Range</label>
                        </div>
                    </div-->
                    <div class="col input-group">
                        <input class="form-control" id="title" type="text" placeholder="Title" name="title" th:value="${title}?:''" aria-describedby="search-addon">
                        <button class="btn btn-outline-secondary" id="search-addon" type="submit">Search</button>
                        <button th:if="${credentials}?${(credentials.class.name == 'it.unipi.dii.lsmsdb.rottenMovies.DTO.AdminDTO')}:false" class="btn btn-outline-success" id="add-addon" type="submit" name="addMovie" value="addMovie">Add Movie</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="startYear">Start Year Range</label>
                        <input class="form-control" id="startYear" type="number" name="startYear" placeholder="1980" th:value="${startYear}?:''">
                    </div>
                    <div class="col">
                        <label for="endYear">End Year Range</label>
                        <input class="form-control" id="endYear" type="number" name="endYear" placeholder="2020" th:value="${endYear}?:''">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="workers">Personnel</label>
                        <input class="form-control" id="workers" type="text" placeholder="Leonardo DiCaprio, Johnny Depp" name="workers" th:value="${workers}?:''">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="includeAllWorkers" name="includeAllWorkers" th:checked="${includeAllWorkers}=='on'">
                            <label class="form-check-label" for="includeAllWorkers">Must include all names (separate by comma ',')</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="workers">Genres</label>
                        <input class="form-control" id="genres" type="text" placeholder="Adventure, Sci-Fi" name="genres" th:value="${genres}?:''">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="includeAllGenres" name="includeAllGenres" th:checked="${includeAllGenres}=='on'">
                            <label class="form-check-label" for="includeAllGenres">Must include all genres (separate by comma ',')</label>
                        </div>
                    </div>
                    <div class="col">
                        <label for="sort">Sort By</label>
                        <select id="sort" name="sort" class="form-select" aria-label="Sort By">
                            <option value="top_critic_rating" th:selected="${sort}==''">top critic rating</option>
                            <option value="user_rating" th:selected="${sort}=='user_rating'">user rating</option>
                            <option value="date" th:selected="${sort}=='date'">date</option>
                            <option value="alphabet" th:selected="${sort}=='alphabet'">name</option>
                        </select>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="sortOrder" name="sortOrder" th:checked="${sortOrder}=='on'">
                            <label class="form-check-label" for="includeAllGenres">Ascending order</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="pagination text-align justify-content-center my-2">
                        <li class="page-item"><button type="submit" name="page" class="page-link" th:with="newPage=(${page}?:0)-1" th:value="${newPage}&gt;0?${newPage}:0">Previous</button></li>
                        <li class="page-item"><button type="submit" name="page" class="page-link" th:value="${page}?:0" th:text="${page}?:0" ></button></li>
                        <li class="page-item"><button type="submit" name="page" class="page-link" th:with="newPage=(${page}?:0)+1" th:value="${newPage}">Next</button></li>
                    </ul>
                </div>
            </form>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" th:each="movie: ${movieList}">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" th:src="${movie.posterUrl}" width="100%" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                  <div class="card-body">
                  <a class="card-title text-decoration-none h5" th:text="${movie.primaryTitle}" th:href="'/movie/'+${movie.id}">sdf</a>
                  <p class="card-text" th:text="${movie.year} + ' (' + ${movie.productionCompany} + ')'"></p>
                    <div>
                        <a class="badge rounded-pill text-bg-primary mb-3 mx-1 text-decoration-none" th:href="'/movie?genres='+${g}" th:text="${g}"  th:each="g: ${movie.genres}"></a>
                    </div>
                    <div>
                        <a class="badge rounded-pill mb-1 mx-1 text-decoration-none" th:href="'/movie?workers='+${w.primaryName}" th:text="${w.primaryName}" th:classappend="${w.category}=='actor'?'text-bg-success':'text-bg-secondary'" th:each="w: ${movie.personnel}">
                        </a>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pb-3">
                        <div th:text="|${movie.user_status} (${movie.user_rating}%)|"></div>
                        <div th:text="|${movie.top_critic_status} (${movie.top_critic_rating}%)|"></div>
                    </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <form th:if="${credentials}" th:action="|/movie/${movie.id}">
                            <input type="hidden" name="title" th:value="${movie.primaryTitle}">
                            <input type="hidden" name="movieId" th:value="${movie.id}">
                            <button class="btn btn-success" type="submit" name="user_operation" value="user_operation">Review</button>
                        </form>
                        <a th:unless="${credentials}" class="btn btn-outline-success" href="/login">Login to Review</a>
                    </div>
                    <small class="text-muted" th:text="|${movie.runtimeMinutes} mins|">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div th:replace="infoBox :: html_infoBox"></div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>
</html>