<!DOCTYPE html>
<html xmlns:th="https://thymleaf.org">
  <div th:fragment="html_infoBox">
    <div class="alert alert-info" role="alert" th:if="${info}" th:text="${info}">
      A simple info alert—check it out!
    </div>
    <div class="alert alert-success" role="alert" th:if="${success}" th:text="${success}">
      A simple success alert—check it out!
    </div>
    <div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}">
      A simple danger alert—check it out!
    </div>
</div>
</html>