<!DOCTYPE html>
<html xmlns:th="https://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>rottenMovies</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Explore</h4>
                    <p class="text-muted">Explore our vast catalogue of movies and leave a review</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="/login" class="text-white">Login</a></li>
                        <li><a href="/" class="text-white">Home</a></li>
                        <div th:if="${credentials}">
                            <li th:if="${!(credentials.class.name == 'it.unipi.dii.lsmsdb.rottenMovies.DTO.AdminDTO')}" >
                                <a th:href="|/user/${credentials.id}|">Your profile</a>
                            </li>
                            <li th:if="${credentials.class.name == 'it.unipi.dii.lsmsdb.rottenMovies.DTO.AdminDTO'}"><a th:href="'/admin-panel'">Admin panel</a></li>
                            <li><a href="/logout" class="text-white">Logout</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                <strong>rotten Movies</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>
<div class="container">
    <div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}">
        A simple success alert—check it out!
    </div>
    <form>
        <label for="ingroup">Insert the number of month</label>
        <div id="ingroup" class="input-group mb-3">
            <input type="number" id="min_month_count" name="month_count" min="24" step="1" th:value="${month_count}?${month_count}:'36'" class="form-control" placeholder="36" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Movie</th>
            <th scope="col">Storic Count</th>
            <th scope="col">Storic Rate</th>
            <th scope="col">Target Count</th>
            <th scope="col">Target Rate</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${reviewBombing}">
            <td th:text="${reviewBombing.movieTitle}">Love</td>
            <td th:text="${reviewBombing.storicCount}">16</td>
            <td th:text="${reviewBombing.storicRate}">16</td>
            <td th:text="${reviewBombing.targetCount}">16</td>
            <td th:text="${reviewBombing.targetRate}">16</td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">Admin manual</h4>
        <p><b>Movie: </b>title of the selected movie  </p>
        <p><b>Storic Count: </b>count of total number of review before the date: today - number of month passed in the input</p>
        <p><b>Storic Rate: </b>rate of the positive review before the date: today - number of month passed in the input </p>
        <p><b>Target Count: </b>count of the total number of review between today and the date: today - number of month passed in the input</p>
        <p><b>Target Rate: </b>rate of the positive review between today and the date: today - number of month passed in the input</p>
    </div>
</div>
<footer>
    <!-- place footer here -->
</footer>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>
</body>
</html>